body {
  font-family: "Muli", sans-serif;
}
.search-results {
  display: flex;
  flex-flow: row wrap;
}
/*********COMMON-COMP****************************/
@import "../components/common-ui/card/card.styles.scss";
@import "../components/common-ui/modal/modal.styles.scss";

/*********APP-COMP************************/
@import "../components/maincomp/searchSpeech/searchspeech.styles.scss";
@import "../components/maincomp/viewMySpeech/viewmyspeech.style.scss";
