.speech-app-card {
  background-color: #fff;
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 2em;
  display: inline-block;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .card-header {
    background: #b49acc;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    min-height: 200px;
    text-align: left;
  }
  .speech-card-footer {
    ul {
      li {
        font-size: 12px;
        list-style: none;
        display: inline-block;
        margin: 7px;
        background: #dc3545;
        padding: 4px 12px;
        color: #fff;
        border-radius: 13px;
      }
    }
  }
}
